:root {
    --primary-color: #0a223d;
    --background-color: #f5fafe;
    --white-color: #ffffff;
    --text-color: #333333;
    --black-color: #000;
    --button-color: #ec1f46;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /* line-height: 1.6rem; */
    /* font-family: 'Mulish', sans-serif; */
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1110px;
    max-width: 100%;
    margin: 0 auto;
    
}

.grid__column-2 { 
    width: 50%;
}

/* button */
.bth {
    background-color: #ec1f46;
    border-radius: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--white-color);
    font-size: 12px;
    line-height: 16px;
    outline: none;
    border: 0;
    padding: 0;
}